@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;
@font-face {
    font-family: 'Futura';
    src: url('./fonts/futura/Futura-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
  }
  
  body {
    font-family: 'Futura', sans-serif;
  }
  